<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <!--FORM-->
          <div class="col-md-5 offset-md-3">
            <div class="card">
              <div class="card-body">
                <form action="/edit/<%=post._id%>" method="post">
                  <div class="form-group">
                    <input class="form-control" type="text" name="lugar" placeholder="Title" value="<%=post.lugar%>">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="pais" cols="80" placeholder="Agregar lugar"><%=post.pais%></textarea>
                  </div>
                  <button class="btn btn-primary" type="submit">
                    Update 
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>