<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Own sytlesheet-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!--Page -Header-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-around clearfix">
    <!--ViajeroSum Logo -->
    <a class="navbar-brand" href="#">
      <img src="/img/ViajeroSUMremovebg.png" alt="logo" style="width:100px;">
    </a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Inicio</a>
      </li>
      <% if(auth){ %>
        <li class="nav-item">
            <a class="nav-link btn-outline-success active"  href="/allUsers">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/allPosts">Publicaciones</a>
        </li>
      <% } %>
     
    </ul>
    <!--Search Bar-->
    <form class="form-inline p-3"action="/search" method="get" >
      <input class="form-control mr-sm-2" type="text" name="search" placeholder="Buscar.." id="searchInput">
      <button class="btn btn-success" type="submit" name="submit" id="btnSearch" href="#">Buscar</button>
    </form>
    <% if(!auth){ %>
        <!---Sign in Option-->
        <a class="btn btn-success"  href="/auth/login">Iniciar sesión</a>
      <!--  <button class="btn btn-success"  href="index.html" id="signinButton" type="submit">Iniciar Sesión</button>-->
        <!--Sign in End-->
    <% } else { %>
        <p style="color:white" >Hola Administrador</p>
        <!---Log Out Option-->
        <a class="btn btn-danger" id="logOutButton" href="/auth/logout">Cerrar sesión</a>
        <!--Log Out End-->
        
    <% } %>
  </nav>
 

  <!--Content-->
    <div class="clearfix">
      <h2 class="mx-auto p-2" style="width: 150px;">
        <p class="font-weight-bold text-center"><em>Lista de Usuarios</em></p>
      </h2>
      <div class="row clearfix justify-content-md-center align-items-center">
        
        <div class="col-md-4">
          <div class="container text-center">
            <h2 class="font-weight-bold text-success">Usuarios</h2>
          </div>
        </div>

        <div class="col-md-4">
          <div class="container text-center">
            <h2 class="font-weight-bold text-success">Email</h2>
          </div>
        </div>

        <div class="col-md-4">
          <div class="container">

          </div>
        </div>
      </div>

      <%for (var i=0; i< users.length;i++){%>
      <div class="row border clearfix justify-content-md-center align-items-center p-2">
        
        <div class="col-md-4">
          <div class="container text-center">
            <a href="/post/post._id">
              <h5 class="post-title">
                <%= users[i].username %>
              </h5>
            </a> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="container text-center">
            <h5 class="post-title">
              <a href="#"><%= users[i].email %></a>
            </h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <a href=/deleteUser/<%= users[i]._id %>   class="btn btn-danger" href="turn">Delete </a>  
          </div>
        </div>
      </div>
      <%}%>
  
    </div>

  

 

    <!--Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>